*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80%;
  background-color: #ccc;
}

.wrapper {
  margin: 100px auto;
  width: 512px;
  height: 384px;
  background-color: #888;
}

.gameCanvas {
  width: 512px;
  height: 384px;
  background-color: #333;
}